/* Shared styles */
body {
    font-family: 'Lato', sans-serif;
}

.all-button {
    background-color: #E55473;
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 5px;

}

.middle-text {
    text-align: center;
    font-size: 18px;
    margin: 100px 500px 50px 500px;
}

/* banner style  */

.banner-flex {
    display: flex;
    align-items: center;
    margin: 0% 10%;


}



.header-bg {
    background: rgba(229, 84, 115, 0.10);
}

.banner-image img {
    width: 500px;
    padding-left: 20%;
}

.banner-title {
    font-size: 50px;

}

.banner-description {
    font-size: 18px;
}

.bannder-details,
.banner-image {
    width: 50%;

}

/* feature flower  */

.featured-flower {
    display: flex;
    margin: 0px 100px 150px 170px;
}

.featured-flower img {
    width: 200px;

}

.feature-flower-1,
.feature-flower-2,
.feature-flower-3 {
    padding: 100px 20px 0px 20px;
    height: 300px;
    width: 350px;
    margin-right: 20px;
    border-radius: 50% 50% 0px 0px;

}

.feature-flower-1 {
    background: rgba(167, 33, 98, 0.15);
}

.feature-flower-1 img {
    margin-top: 24px;
    margin-left: 60px;
}

.feature-flower-2 {
    background: rgba(5, 151, 160, 0.15);
}

.feature-flower-2 img {
    margin-top: 70px;
    margin-left: 80px;
}

.feature-flower-3 {
    background: rgba(71, 125, 17, 0.15);
}

.feature-flower-3 img {
    margin-top: 0px;
    margin-left: 70px;
}

.feature-flower-1 p {
    text-align: center;
}

.feature-flower-2 p {
    text-align: center;
    margin-top: 46px;
}

.feature-flower-3 p {
    text-align: center;
}

.feature-flower-1 a,
.feature-flower-2 a,
.feature-flower-3 a {
    color: black;
}

/* service section  */

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.service-section {
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;

}

.service-item {
    margin: 70px 50px 50px 50px;
    align-items: center;
    text-align: center;
    padding: 0px;
}


/* discoutn section  */

.discount-flex {
    display: flex;
    align-items: center;
    margin: 0% 10%;
    padding: 50px;


}



.discount-bg {
    background: rgba(229, 84, 115, 0.05);

}

.discount-image img {
    width: 300px;
    padding-left: 40%;
}

.discount-title {
    font-size: 30px;

}

.discount-description {
    font-size: 18px;
}

.discount-details,
.discount-image {
    width: 50%;

}

.discount-details {
    text-align: center;
}

/* show off section  */

.show-off {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 200px;
    margin-bottom: 100px;
}

.show-off img {
    margin: 0px 20px;
    width: 200px;

}

/* my new section  */

.my-section {
    text-align: center;
}

.my-section {
    font-size: 25px;

}

#order-now {

    display: flex;
    align-items: center;
    justify-content: center;
}

.ammount {
    padding: 40px 20px;
    font-size: 30px;
}

#main-amount {
    color: #E55473;
    border: solid 2px #E55473;
    border-radius: 5px;
}

#input-field {
    display: flex;
    align-items: center;
    justify-content: center;
}

#input {
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    border-bottom-style: groove;
    color: rgb(39, 36, 36);
    padding: 5px 300px;
}

.buy {
    margin: 20px;
}

/* get deals section  */

.email-submission {
    display: flex;
}

.email-submission button {
    margin-left: 10px;
}

.get-deals {

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.get-deals-details {
    padding: 50px 400px;
    margin-bottom: 100px;
    background-image: url("../Flower Asset/Rectangle 9.png");

}

.get-deals-details input {
    border: none;
    width: 300px;
    border-radius: 5px;
}

/* footer section  */

.footer-background {
    background-color: #111010;
    color: white;

}

.footer-details {
    padding: 70px 400px;
    text-align: center;
}

.flower-color {
    color: #E55473;
}